*{
    margin: 0px;
    padding: 0px;
}

.list{
    list-style: none;
    display: flex;
    justify-content: space-around;
    font-weight: bold;
}

.header{
    display: flex;
    justify-content: space-between;
    max-height: 10vh;
    border-style: ridge;
    align-items: center;
    font-size: 20px;
}

.list > li{
    padding: 50px;
}

.logo{
    width: 60px;
}

.footer{
    max-height: 10vh;
    background-color: blueviolet;
    padding: 20px;
}